[*.cs]

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = none

# CD1607: The file needs documentation headers.
dotnet_diagnostic.CD1607.severity = none

# BL0007: Component parameters should be auto properties
dotnet_diagnostic.BL0007.severity = none
