[submodule "benefitsystems.hornet.admin"]
	path = benefitsystems.hornet.admin
	url = https://gitlab.srv.benefitsystems.pl/dotnetdevelopersbs/tests/hugo/service_mesh/benefitsystems.hornet.admin.git
[submodule "benefitsystems.hornet.service.agreement"]
	path = benefitsystems.hornet.service.agreement
	url = https://gitlab.srv.benefitsystems.pl/dotnetdevelopersbs/tests/hugo/service_mesh/benefitsystems.hornet.service.agreement.git
[submodule "benefitsystems.hornet.admin.client"]
	path = benefitsystems.hornet.admin.client
	url = https://gitlab.srv.benefitsystems.pl/dotnetdevelopersbs/tests/hugo/service_mesh/benefitsystems.hornet.admin.client.git
[submodule "benefitsystems.hornet.admin.server"]
	path = benefitsystems.hornet.admin.server
	url = https://gitlab.srv.benefitsystems.pl/dotnetdevelopersbs/tests/hugo/service_mesh/benefitsystems.hornet.admin.server.git
[submodule "benefitsystems.hornet.service"]
	path = benefitsystems.hornet.service
	url = https://gitlab.srv.benefitsystems.pl/dotnetdevelopersbs/tests/hugo/service_mesh/benefitsystems.hornet.service.git
[submodule "benefitsystems.hornet.core"]
	path = benefitsystems.hornet.core
	url = https://gitlab.srv.benefitsystems.pl/dotnetdevelopersbs/tests/hugo/service_mesh/benefitsystems.hornet.core.git
[submodule "benefitsystems.hornet.framework"]
	path = benefitsystems.hornet.framework
	url = https://gitlab.srv.benefitsystems.pl/dotnetdevelopersbs/tests/hugo/service_mesh/benefitsystems.hornet.framework.git
[submodule "benefitsystems.hornet.service.member"]
	path = benefitsystems.hornet.service.member
	url = https://gitlab.srv.benefitsystems.pl/dotnetdevelopersbs/tests/hugo/service_mesh/benefitsystems.hornet.service.member.git
[submodule "benefitsystems.hornet.service.contract"]
	path = benefitsystems.hornet.service.contract
	url = https://gitlab.srv.benefitsystems.pl/dotnetdevelopersbs/tests/hugo/service_mesh/benefitsystems.hornet.service.contract.git
[submodule "benefitsystems.hornet.service.product"]
	path = benefitsystems.hornet.service.product
	url = https://gitlab.srv.benefitsystems.pl/dotnetdevelopersbs/tests/hugo/service_mesh/benefitsystems.hornet.service.product.git
[submodule "benefitsystems.hornet.service.facility"]
	path = benefitsystems.hornet.service.facility
	url = https://gitlab.srv.benefitsystems.pl/dotnetdevelopersbs/tests/hugo/service_mesh/benefitsystems.hornet.service.facility.git
[submodule "benefitsystems.hornet.service.provider"]
	path = benefitsystems.hornet.service.provider
	url = https://gitlab.srv.benefitsystems.pl/dotnetdevelopersbs/tests/hugo/service_mesh/benefitsystems.hornet.service.provider.git
