@inherits FluentComponentBase


@typeparam TMenu where TMenu : class, IOrigin, IInnerProxy

<FluentStack Class="body-stack" Orientation="Orientation.Horizontal" Width="100%" HorizontalGap="0">

    <GenericNavMenu TMenu="TMenu" Margin="0px" Style="min-width:40px; padding:0px;" Width="200">
        <GenericNavExpander TMenu="TMenu" IconColor="Color.Accent" Style="padding:10px; border-top:2px solid var(--neutral-stroke-layer-rest);" />
    </GenericNavMenu>

    <FluentBodyContent id="body-content" Style="height: calc(100dvh - 80px);">

        <div class="presenting-content">

            <article id="article">
                @Body
            </article>
            
            @*
            <aside>
            <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center">
            </FluentStack>
            </aside> *@

            <FluentSpacer />
            <GenericGoTopButton />

        </div>
    </FluentBodyContent>

</FluentStack>