@inherits FluentComponentBase

<div>
    <FluentAccordion>
        <FluentAccordionItem Expanded="_expanded" Heading="@Heading" id="toc" role="doc-toc">
            <FluentIcon Value="@(new Icons.Regular.Size20.TextBulletListTree())" Color="@Color.Accent" Slot="start" />
            @GetItems(_anchors)
        </FluentAccordionItem>

    </FluentAccordion>
</div>
